<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleAutomationTest Suite">
  <test thread-count="5" name="Login to the application with valid credentials sauce50">
    <classes>
      <class name="helixTest.HelixTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
